
     <footer class="main-footer">

    <div class="pull-right hidden-xs">

      <b>Version</b> 2.4.0

    </div>

    <strong>Copyright &copy; 2020 <a href="https://adminlte.io/">Mr Tapas</a>.</strong> All rights

    reserved.

  </footer> 
  