<!-- Left side column. contains the logo and sidebar -->



  <aside class="main-sidebar">



    <!-- sidebar: style can be found in sidebar.less -->



    <section class="sidebar">



      <!-- Sidebar user panel -->



      <div class="user-panel">



        <div class="pull-left image">



         <img src="/dist/img/place_noimg.png" class="img-circle" alt="User Image">



        </div>



        <div class="pull-left info">



          <p></p>



          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>



        </div>



      </div>



      <!-- search form -->



      <!--<form action="#" method="get" class="sidebar-form">



        <div class="input-group">



          <input type="text" name="q" class="form-control" placeholder="Search...">



          <span class="input-group-btn">



                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>



                </button>



              </span>



        </div>



      </form>-->



      <!-- /.search form -->



      <!-- sidebar menu: : style can be found in sidebar.less -->



      <ul class="sidebar-menu" data-widget="tree">



        <li class="header">MAIN NAVIGATION</li>



       



         



         



        <!-- <li class="treeview" >



          <a href="#">



            <i class="fa fa-user"></i>



            <span>job Request</span>



            <span class="pull-right-container">



              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="http://localhost/foodie/admin/Welcome/job_request"><i class="fa fa-circle-o"></i>job Request List</a></li>



           



          </ul>



        </li>



         -->



         



         <li class="treeview" >



          <a href="#">



            <i class="fa fa-user"></i>



            <span>User</span>



            <span class="pull-right-container">



              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="/admin/user-listing"><i class="fa fa-circle-o"></i>User List</a></li>



            <li class="active"><a href="/admin/add-user"><i class="fa fa-circle-o"></i>Add User</a></li>



           



            



            <!--<li><a href="http://localhost/foodie/admin/Welcome/add_buyer"><i class="fa fa-circle-o"></i> Add Buyer</a></li>-->



             



          </ul>



        </li>


<li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Category</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="category.html"><i class="fa fa-circle-o"></i>Category List</a></li>



            <li><a href="add_category.html"><i class="fa fa-circle-o"></i>Add Category</a></li>



          </ul>



        </li>
		
		<li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Restaurants</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="category.html"><i class="fa fa-circle-o"></i>Restaurants List</a></li>

          <li><a href="add_category.html"><i class="fa fa-circle-o"></i>Add Restaurant Type</a></li>

            <li><a href="add_category.html"><i class="fa fa-circle-o"></i>Add Restaurant</a></li>



          </ul>



        </li>
         
<li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Grossery Shop</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="category.html"><i class="fa fa-circle-o"></i>Grossery Shop</a></li>

          
            <li><a href="add_category.html"><i class="fa fa-circle-o"></i>Add Grossery Shop</a></li>



          </ul>



        </li>


          <!--li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Product</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="http://localhost/foodie/admin/Welcome/product"><i class="fa fa-circle-o"></i>Product List</a></li>



            <li><a href="http://localhost/foodie/admin/Welcome/add_product"><i class="fa fa-circle-o"></i>Add Product</a></li>



          </ul>



        </li--> 



         



        



        



        



      



        



   



        



     



        <li class="treeview">



          <a href="#">



            <i class="fa fa-laptop"></i>



            <span>Content Management</span>



            <span class="pull-right-container">



              <i class="fa fa-angle-left pull-right"></i>



            </span>



          </a>



          <ul class="treeview-menu">



          



          <li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Slider</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="slider.html"><i class="fa fa-circle-o"></i>Slider List</a></li>



            <li><a href="add_slider.html"><i class="fa fa-circle-o"></i>Add Slider</a></li>



          </ul>



        </li>



          



         



        



          <li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Pagecontent</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="pagecontent.html"><i class="fa fa-circle-o"></i>Pagecontent List</a></li>



            <li><a href="add_pagecontent.html"><i class="fa fa-circle-o"></i>Add Pagecontent</a></li>



          </ul>



        </li>



        <li class="treeview">

          <a href="#">

            <i class="fa fa-gift"></i>

            <span>Newsletter</span>

            <span class="pull-right-container">

             <i class="fa fa-angle-left pull-right"></i>

              <span class="label label-primary pull-right"></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="newsletter.html"><i class="fa fa-circle-o"></i>Newsletter List</a></li>

            <!--<li><a href="http://localhost/foodie/admin/Welcome/add_pagecontent"><i class="fa fa-circle-o"></i>Add Pagecontent</a></li>-->

          </ul>

        </li>



        



         <li class="treeview">

          <a href="#">

            <i class="fa fa-gift"></i>

            <span>Meta Tag</span>

            <span class="pull-right-container">

             <i class="fa fa-angle-left pull-right"></i>

              <span class="label label-primary pull-right"></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="meta_tag.html"><i class="fa fa-circle-o"></i>Meta Tag List</a></li>

            <li><a href="add_meta_tag.html"><i class="fa fa-circle-o"></i>Add Meta Tag</a></li>

          </ul>

        </li>





         <!--<li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Meta Tag</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="http://localhost/foodie/admin/Welcome/meta_tag"><i class="fa fa-circle-o"></i>Meta Tag List</a></li>



            <li><a href="http://localhost/foodie/admin/Welcome/add_meta_tag"><i class="fa fa-circle-o"></i>Add Meta Tag</a></li>



          </ul>



        </li>--> 



        



        



        <!--<li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>Faq</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="http://localhost/foodie/admin/Welcome/faq"><i class="fa fa-circle-o"></i>Faq List</a></li>



            <li><a href="http://localhost/foodie/admin/Welcome/add_faq"><i class="fa fa-circle-o"></i>Add Faq</a></li>



          </ul>



        </li>--> 



        



          </ul>



        </li>



        



       



       



       



        



         



         



        



        



       



        



          



        



         





       <!--li class="treeview">



          <a href="#">



            <i class="fa fa-gift"></i>



            <span>News</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="http://localhost/foodie/admin/Welcome/news"><i class="fa fa-circle-o"></i>News List</a></li>



            <li><a href="http://localhost/foodie/admin/Welcome/add_news"><i class="fa fa-circle-o"></i>Add News</a></li>



          </ul>



        </li>



        <!--<li class="treeview">



          <a href="#">



            <i class="fa fa-crosshairs"></i>



            <span>Mail Body</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="http://localhost/foodie/admin/Welcome/mail_body"><i class="fa fa-circle-o"></i>Mail Body List</a></li>



          </ul>



        </li>-->



        

 <!--li class="treeview" >

          <a href="#">

            <i class="fa fa-user"></i>

            <span>Gallery</span>

            <span class="pull-right-container">

              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="http://localhost/foodie/admin/Welcome/gallery"><i class="fa fa-circle-o"></i>Gallery List</a></li>

            <li class="active"><a href="http://localhost/foodie/admin/Welcome/add_gallery"><i class="fa fa-circle-o"></i>Add Gallery</a></li>

           

          </ul>

        </li-->

        <li class="treeview" >



          <a href="#">



            <i class="fa fa-sort"></i>



            <span>Order</span>



            <span class="pull-right-container">



              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="order_listing.html"><i class="fa fa-circle-o"></i>Order List</a></li>



           



           



            



             



          </ul>



        </li>



        <li class="treeview" >

          <a href="#">

            <i class="fa fa-sort"></i>

            <span>Discount List</span>

            <span class="pull-right-container">

              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="discount_listing.html"><i class="fa fa-circle-o"></i>Discount List</a></li>

            <li class="active"><a href="add_discount.html"><i class="fa fa-circle-o"></i>Add Discount</a></li>

          </ul>

        </li>



        

        <li class="treeview">

          <a href="#">

            <i class="fa fa-sort"></i>

            <span>Comission List</span>

            <span class="pull-right-container">

              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="cashback_listing.html"><i class="fa fa-circle-o"></i>Comission List</a></li>

          </ul>

        </li>

        

        <!--li class="treeview">

          <a href="#">

            <i class="fa fa-sort"></i>

            <span>MLM Withdraw List</span>

            <span class="pull-right-container">

              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="http://localhost/foodie/admin/Welcome/withdraw"><i class="fa fa-circle-o"></i>Withdraw List</a></li>

          </ul>

        </li-->

        

        <li class="treeview">

          <a href="#">

            <i class="fa fa-sort"></i>

            <span>Gift Card</span>

            <span class="pull-right-container">

              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="gift_card_list.html"><i class="fa fa-circle-o"></i>Gift Card List</a></li>

          </ul>

        </li>

 

		<li class="treeview">

          <a href="#">

            <i class="fa fa-sort"></i>

            <span>Gift Card Order</span>

            <span class="pull-right-container">

              <span class="label label-primary pull-right"> <i class="fa fa-angle-left pull-right"></i></span>

            </span>

          </a>

          <ul class="treeview-menu">

            <li class="active"><a href="gift_card_order_list.html"><i class="fa fa-circle-o"></i>Gift Card Order</a></li>

          </ul>

        </li>

       
          <li class="treeview">



          <a href="#">



            <i class="fa fa-crosshairs"></i>



            <span>Setting</span>



            <span class="pull-right-container">



             <i class="fa fa-angle-left pull-right"></i>



              <span class="label label-primary pull-right"></span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li class="active"><a href="setting.html"><i class="fa fa-circle-o"></i>Setting List</a></li>



          </ul>



        </li>



        



       



        



        



       <!-- <li class="treeview">



          <a href="#">



            <i class="fa fa-files-o"></i>



            <span>Layout Options</span>



            <span class="pull-right-container">



              <span class="label label-primary pull-right">4</span>



            </span>



          </a>



          <ul class="treeview-menu">



            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>



            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>



            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>



            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>



          </ul>



        </li>



        <li>



          <a href="pages/widgets.html">



            <i class="fa fa-th"></i> <span>Widgets</span>



            <span class="pull-right-container">



              <small class="label pull-right bg-green">new</small>



            </span>



          </a>



        </li>



        <li class="treeview">



          <a href="#">



            <i class="fa fa-pie-chart"></i>



            <span>Charts</span>



            <span class="pull-right-container">



              <i class="fa fa-angle-left pull-right"></i>



            </span>



          </a>



          <ul class="treeview-menu">



            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>



            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>



            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>



            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>



          </ul>



        </li>



        <li class="treeview">



          <a href="#">



            <i class="fa fa-laptop"></i>



            <span>UI Elements</span>



            <span class="pull-right-container">



              <i class="fa fa-angle-left pull-right"></i>



            </span>



          </a>



          <ul class="treeview-menu">



            <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>



            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>



            <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>



            <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>



            <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>



            <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>



          </ul>



        </li>



        <li class="treeview">



          <a href="#">



            <i class="fa fa-edit"></i> <span>Forms</span>



            <span class="pull-right-container">



              <i class="fa fa-angle-left pull-right"></i>



            </span>



          </a>



          <ul class="treeview-menu">



            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>



            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>



            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>



          </ul>



        </li>



        <li class="treeview">



          <a href="#">



            <i class="fa fa-table"></i> <span>Tables</span>



            <span class="pull-right-container">



              <i class="fa fa-angle-left pull-right"></i>



            </span>



          </a>



          <ul class="treeview-menu">



            <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>



            <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>



          </ul>



        </li>



        <li>



          <a href="pages/calendar.html">



            <i class="fa fa-calendar"></i> <span>Calendar</span>



            <span class="pull-right-container">



              <small class="label pull-right bg-red">3</small>



              <small class="label pull-right bg-blue">17</small>



            </span>



          </a>



        </li>



        <li>



          <a href="pages/mailbox/mailbox.html">



            <i class="fa fa-envelope"></i> <span>Mailbox</span>



            <span class="pull-right-container">



              <small class="label pull-right bg-yellow">12</small>



              <small class="label pull-right bg-green">16</small>



              <small class="label pull-right bg-red">5</small>



            </span>



          </a>



        </li>



        <li class="treeview">



          <a href="#">



            <i class="fa fa-folder"></i> <span>Examples</span>



            <span class="pull-right-container">



              <i class="fa fa-angle-left pull-right"></i>



            </span>



          </a>



          <ul class="treeview-menu">



            <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>



            <li><a href="http://localhost/foodie/admin/Welcome/profile"><i class="fa fa-circle-o"></i> Profile</a></li>



            <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>



            <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>



            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>



            <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>



            <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>



            <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>



            <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>



          </ul>



        </li>



        <li class="treeview">



          <a href="#">



            <i class="fa fa-share"></i> <span>Multilevel</span>



            <span class="pull-right-container">



              <i class="fa fa-angle-left pull-right"></i>



            </span>



          </a>



          <ul class="treeview-menu">



            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>



            <li class="treeview">



              <a href="#"><i class="fa fa-circle-o"></i> Level One



                <span class="pull-right-container">



                  <i class="fa fa-angle-left pull-right"></i>



                </span>



              </a>



              <ul class="treeview-menu">



                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>



                <li class="treeview">



                  <a href="#"><i class="fa fa-circle-o"></i> Level Two



                    <span class="pull-right-container">



                      <i class="fa fa-angle-left pull-right"></i>



                    </span>



                  </a>



                  <ul class="treeview-menu">



                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>



                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>



                  </ul>



                </li>



              </ul>



            </li>



            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>



          </ul>



        </li>



        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>



        <li class="header">LABELS</li>



        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>



        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>



        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>



      </ul>-->



    </section>



    <!-- /.sidebar -->



  </aside>